<!DOCTYPE html>
<html>
<head>
  <title>Is the post live?</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" href="styles.css?v=2">
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>

<body>
  <div id="app">
    <div v-if="loaded" class="main">
      <div class="result">
        <div class="title">
          <h1>{{ text }}</h1>
        </div>
        <h2>{{ subtext }}</h2>
      </div>
      <div v-if="upcomingEvents.length > 0" class="upcomingEvents">
        <div v-for="event in upcomingEvents">
          <span class="event"><a :href="event.url" target="_blank">{{ event.title }}</a></span>
        </div>
        <div class="imageWrapper">
          <img class="image" src="king.jpg" />
        </div>
      </div>
      <div v-else>
        <div class="imageWrapper">
          <img class="image" :src="'biscuitpics/' + picIndex + '.jpg'" />
        </div>
      </div>
      <div v-if="pastEvents.length > 0" class="pastEvents">
        Past events:
        <div v-for="event in pastEvents" class="event">
          <a :href="event.url" target="_blank">{{ event.title }}</a>
        </div>
      </div>
    </div>
    <div v-else>
      Loading...
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
